
<section class="section1">
<div  class="custom-shape-divider-bottom-1643541254"> 
<div class="container">
	<h1 class="animate__animated animate__fadeInUp animate__delay-3s ">Eeno <span style="color: #0391bd;">gin</span></h1>
	<p class="">eeNoo, From the old Scots tongue; eenoo – just now, at the present time, in a short time, at once.</p>		
</div>

<!--  -->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div id="slider" data-aos="fade-up">
				<div class="item animate__animated animate__backInUp">
					  <img class="cssanimation hu__hu__" src="assets/images/eeno-pro1.png" />
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="product-dtl">
				<div class="product-name btn bg-primary cssanimation rotateXIn" style="line-height: 30px;"> eeNoo - Scottish Gin</div>
				<div class="product-info mt-5">

           <!-- new -->
		   <div class="product-info-tabs">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
					<a class="nav-link active text-white" id="description-tab" data-toggle="tab" role="tab" aria-controls="description" aria-selected="true">Description</a>
				  </li>
			</ul>
		</div>

		   <!--  new-->
				<p class="text-dark">Scottish gin is at the forefront of a recent gin renaissance and so we thought eeNoo a fine and fitting name for our gin, as the present time is the heyday of gin production in Scotland.
					<br><br>
				<span>	When we crafted our gin, eeNoo, we wanted to create a flavour profile that encompassed the essence of a traditional gin whilst embracing flavours of the Scottish Highlands.</span>
				<br><br>
				eeNoo is distilled with Royal Deeside honey. The flavour profile of our honey is unique to the local area and is made up of heather, willow herb and clover pollen. To complement the honey we add heather flowers and other local botanicals. We forage a percentage of our brambleberries, raspberries and rosehip from the Deeside area and source the remainder from berry farms in Aberdeenshire and Angus. As Scottish juniper is in a critical state of decline, we source the finest juniper from the Italian highlands. We then add coriander seeds, angelica root, liquorice root, orange and lemon peel to give our gin a traditional yet smooth fruity profile.
				</p>
				<div class="product-count">
					
					<a  class="round-black-btn">Medals or badges</a>
					<img class="imgAnime" src="assets/images/awards.png" alt="">
				</div>
			</div>
		</div>
	</div>

	<!--  -->
</div>
</div>
<div class="container-fluid">
<div class="row">
	<div class="col-md-12">
		<table *ngFor="let data of productList" class="m-5">
			<thead>
			<tr>
				<th>PRODUCT ID</th>
				<th>batch Id</th>
				<th>distiller Name</th>
				<th>bottling Time</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>{{data.productId}}</td>
				<td>{{data.batchId}}</td>
				<td>{{data.distillerName}}</td>
				<td>{{data.bottlingTime}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
</div>
</section>

<section class="section2 ">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="shell">
					<div class="container">
					  <div class="row">
						  <div class="pro-head">Related Products</div>
						<div class="col-md-3">
						  <div class="wsk-cp-product">
							<div class="wsk-cp-img">
							  <img src="assets/images/murmichan-product.png" alt="Product" class="img-responsive" />
							</div>
							<div class="wsk-cp-text">
							  <div class="category">
								<span>Murmichan</span>
							  </div>
							  <div class="description-prod">
								<p>a wicked Scots fairy and a fitting name for the first Scottish absinthe</p>
							  </div>
							  <div class="card-footer">
								<div class="wcf-left"><span class="price">£38.00</span></div>
								<div class="wcf-right"><a routerLink="#" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
							  </div>
							</div>
						  </div>
						</div>
						<div class="col-md-3">
						  <div class="wsk-cp-product">
							<div class="wsk-cp-img"><img src="assets/images/haroosh-product.jpg" alt="Product" class="img-responsive" /></div>
							<div class="wsk-cp-text">
							  <div class="category">
								<span>Haroosh</span>
							  </div>
							  <div class="description-prod">
								<p>An excited, high spirited, disorderly gathering, a tumult, an uproar, a broil, a “set-to”</p>
							  </div>
							  <div class="card-footer">
								<div class="wcf-left"><span class="price">£28.00</span></div>
								<div class="wcf-right"><a class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
							  </div>
							</div>
						  </div>
						</div>
						<div class="col-md-3">
						  <div class="wsk-cp-product">
							<div class="wsk-cp-img"><img src="assets/images/singular-absinthe-product.jpg" alt="Product" class="img-responsive" /></div>
							<div class="wsk-cp-text">
							  <div class="category">
								<span>Absinthe</span>
							  </div>

							  <div class="description-prod">
								<p>Singular Series Murmichan Absinthe</p>
							  </div>
							  <div class="card-footer">
								<div class="wcf-left"><span class="price">£45.00</span></div>
								<div class="wcf-right"><a class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
							  </div>
							</div>
						  </div>
						</div>
						<div class="col-md-3">
						  <div class="wsk-cp-product">
							<div class="wsk-cp-img"><img src="assets/images/singular-rasp.jpg" alt="Product" class="img-responsive" /></div>
							<div class="wsk-cp-text">
							  <div class="category">
								<span>Raspberry & Stem</span>
							  </div>
							  
							  <div class="description-prod">
								<p>Singular Series Raspberry & Stem Ginger Gin</p>
							  </div>
							  <div class="card-footer">
								<div class="wcf-left"><span class="price">£30.00</span></div>
								<div class="wcf-right"><a class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				  
			</div>
		</div>
                      
		<h2 style="color: rgb(232, 238, 241);text-align: center;text-transform:capitalize;margin-left: -15px;">social media links</h2>

		<div class="social-buttons p-3 ">
			
			<a class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
			  <i class="fab fa-facebook-f"></i>
			</a>
			<a class="social-buttons__button social-button social-button--twitter" aria-label="twitter">
				<i class="fab fa-twitter"></i>
			</a>
			<a class="social-buttons__button social-button social-button--instagram" aria-label="instagram">
				<i class="fab fa-instagram"></i>
			</a>
			<a class="social-buttons__button social-button social-button--youtube" aria-label="youtube">
				<i class="fab fa-youtube"></i>
			</a>
		  </div>
		  

	</div>
</section>